@charset "utf-8";


@media screen and (min-width:768px) {
        body{
            background-image: url('../lua.webp');
            background-position: bottom right;
            height: 100vh;
        }   
        #form{
            width: 450px;
            height: 600px;
        } 
        .input input{
            background-color: rgba(82, 80, 80, 0.568);
            font-size: 1em;
            border-radius: 8px;
            border: 1px 1px 1px rgba(85, 85, 85, 0.637);
            height: 100%;
            padding: 25px;
        }
        .input > input:focus-within{
            background-color: white;
            border: none;
        }
        form  input[type=submit]{
            margin-left: 20%;
            width: 60%;
        }
}